<%= render "layouts/banner" %>

  <h1>List of cocktails:</h1>
  <div class="container">

  <% @cocktails.each do |cocktail| %>
    <div class="cards">
      <div class="card" style="background-image: url(http://kitt.lewagon.com/placeholder/cities/rio)">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
      </div>
    </div>
  <% end %>
</div>
