<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= simple_form_for @cocktail do |c| %>
        <%= c.input :name %>
        <%= c.full_error :token %>
        <%= c.submit 'Save' %>
      <% end %>
    </div>
  </div>
</div>

