<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><%= @cocktail.name %></h1>
      <%= link_to cocktails_path do%>
        <i class="fas fa-home"></i> <span>Home</span>
      <% end %>

      <%= link_to edit_cocktail_path do%>
        <i class="fas fa-pencil-alt"></i> <span>Edit</span>
      <% end %>
      <p><%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure ?"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </p>
    </div>
  </div>
</div>
