
.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(rgba(74,49,40,0.9), rgba(46,30,25,1));
  height: 60px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  margin-bottom: 8px;
}
