<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://wallsdesk.com/wp-content/uploads/2017/01/Rum-Wallpapers-HD.jpg);">
      <div class="container">
        <h1>Welcome to The Captain's Cave, <strong>the best collection of rum</strong> in <strong>the world</strong>!</h1>
        <br/>
        <p>Change your life and learn to appreciate a good rum like a pirate.</p>

        <p> <%= link_to new_cocktail_path do %> <i class="fas fa-cocktail"></i> Create a new Cocktail <% end %></p>
      </div>
  </div>
